.todo-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 350px 0;
}

.todo-card {
    border: 10px;
    background: #fff;
    padding: 2rem 3rem;
    max-width: 450px;
    width: 100%;

    &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;

        h1 {
            font-size: 1.25rem;
            font-weight: 700;
            margin: 0;
        }

        i {
            color: #ffb700;
            font-size: 1.5rem;
        }
    }

    &-form {
        margin: 1rem 0;
        &-group {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &-control{
            flex: 1;
            background-color: #e2e2e2;
            border: none;
            outline: none;
            padding: .75em 1.5rem;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
        }
        &-button{
            background-color: #e82385;
            color: #fff;
            outline: none;
            border: none;
            padding: .75rem 1.5rem;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
        }
    } 

    &-footer {
        padding: 1.5rem 0;
        color: #bcbcbc;
        font-size: 0.875rem;
    }

    p.todo-card-not-item {
        text-align: center;
        color: #bcbcbc;
        margin: 0;
        padding: 2rem 0;
    }
}