:host {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #EAECEE;
}
.card {
    background-color: #ffffff;
    border: 0 solid #101926;
    border-width: 2px 2px 7px;
    border-radius: 15px;
    max-width: 500px;
    width: 100%;
    padding: 2rem 3rem;
    margin-left: 1rem;
    margin-right: 1rem;

}
.form-label {
    display: block;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.form-field {
    background-color: #fff;
    padding: 0.4rem 0.9rem;
    display: flex;
    border-radius: 8px;
    border: 1px solid #101926;
    border-width: 2px 2px 4px;

    .form-control {
        border: transparent;
        flex: 1;
        font-size: 1.3rem;
        padding: 0.5rem 0.3rem;
        outline: none;
    }

    .form-card-field-icon {
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #5c5c5c;
        flex: 0 0 40px;
        width: 40px;
    }
}